<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Ansible Deployed Apache</title>

</head>

<body>
    <h1>Ansible has done its job - Welcome To Apache, server local hostname is {{ inventory_hostname }}</h1>
    <h1>UPDATE CONTENT</h1>
</body>
</html>
